.page {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border: 0;
  overflow: hidden;
}

#openwall {
  background: black;
}

#openwall ul,ol {
  list-style: none;
}
#openwall.fallback {
  background: url("fallback-bg.jpg") left top no-repeat black;
  background-size: cover;
  -moz-background-size: cover;
}
#openwall p {
  margin: 0;
  padding: 0;
  font-family: "Myriad Pro", "Lucida Grande", Helvetica, Arial,
    "Heiti TC", "Hiragino Kaku Gothic Pro", "Hiragino Sans GB", "Lihei Pro",
    "文泉驛微米黑", "Droid Sans Fallback",
    "新細明體", sans-serif !important;
}
#openwall a {
  color: #369;
}
#openwall .logo {
  position: absolute;
  width: 100%;
}

#openwall li hr {
  display: none;
}

#openwall #panel-container {
  width: 1275px;
  margin: 0 auto;
  position: relative;
}
#openwall #share-container {
  width: 1275px;
  margin: 0 auto;
  position: absolute;
  top: 0;
}

#openwall #panel {
  width: 100%;
}
#openwall #panel .main {
  width: 969px;
  display: inline-block;
}

#openwall #panel .letterBlock {
  width: 204px;
  display: inline-block;
  line-height: 0;
}

#openwall #panel .border {
  line-height: 0;
}

#openwall #panel .sider {
  width: 51px;
  display: inline-block;
  line-height: 0;
}

#openwall #panel .gap {
  width: 51px;
  display: inline-block;
  line-height: 0;
}

#openwall #panel .thumbnail {
  width: 50px;
  height: 50px;
  opacity: 0.1;
  filter: alpha(opacity=10); /* IE 7 and Earlier */
  /* Next 2 lines IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  margin-left: 1px;
  margin-top: 1px;
}

#openwall #panel .default {
  opacity: 0.4;
  filter: alpha(opacity=40); /* IE 7 and Earlier */
  /* Next 2 lines IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
}

#openwall #panel .highlight {
  opacity: 1.0;
  filter: alpha(opacity=100); /* IE 7 and Earlier */
  /* Next 2 lines IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  border: none;
}

#openwall #panel img.highlight:hover {
  -webkit-transform: scale(2.4);
  -moz-transform: scale(2.4);
  -ms-transform: scale(2.4);
  -o-transform: scale(2.4);
  z-index: 2;
  outline: 2px solid white;
}

#openwall #sharing {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  z-index: 99;
}

#openwall #sharing li {
  float: left;
  margin-right: 8px;
  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  font-size: 12px/18px;
}

#openwall #sharing li img {
  vertical-align:middle;
  width: 16px;
  height: 16px;
  margin-right: 2px;
}

#openwall #sharing li span {
  display: none;
}

@media screen and (max-device-width: 1024px) and (min-device-width: 361px), 
  screen and (max-width: 1024px) and (min-width: 361px) {
  #openwall #panel-container {
    width: 969px;
  }
  #openwall #panel .sider {
    display: none;
  }
}

@media screen and (max-device-width: 360px), screen and (max-width: 360px) {
  #openwall #panel-container {
    width: 306px;
  }
  #openwall #panel .main {
    width: 204px;
  }
  #openwall #panel .gap {
    display: none;
  }
  #openwall #panel .siderGroup {
    width: 51px;
    display: inline-block;
  }
  #openwall .logo {
    background: black url('../images/coscup.png') center center no-repeat;
    width: 100%;
  }
  #openwall #sharing {
    position: relative;
    float: left;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    right: 0;
    color: black;
    background: #F1F0ED;
  }

  #openwall #sharing li {
    border: 1px solid #999999;
    float: left;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 40%;
    padding: 5px;
  }

  #openwall #sharing li span {
    display: inline;
    font-size: 12px;
    padding-left: 2px;
  }

  #openwall #sharing li a {
    text-decoration: none;
  }

  #openwall #sharing li.title {
    border: medium none;
    font-weight: bold;
    margin-bottom: 12px;
    margin-right: 8px;
    width: 90%;
    padding: 0;
  }

  #openwall #panel {
    width: 306px;
  }

  #openwall li hr {
    background-color: #D4D4D4;
    border: 0 none;
    color: #D4D4D4;
    float: right;
    height: 1px;
    width: 60%;
    display: block;
  }
  #openwall #panel .border {
    display: none;
  }
}
