@charset "utf-8";
body {
    background: url('bg_main.jpg') repeat;
    font-size: 12px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    color: #333;
}
a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
a:link, a:visited, a:active {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #666;
}

ul.no-decoration {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.no-decoration li {
    float: left;
}

h1, h2 {
    color: #2D5E0A;
}

h1 {
  font-size: 18px;
  line-height: 30px;
}

h2 {
    font-size: 16px;
    line-height: 20px;
}

/* --- Desktop Shut down ----------*/
#sidebar2 {
    display: none;
}
#sponsor {
    display: none;
}
#desktop-social-links {
    display: none;
}

/* index
--------------------------------------------------- */
#header {
    border-top: solid 7px #CCDAA9;   
}
#logo a {
    width: 100%;
    height: 33px;
    background: url(mobile/logo.png) no-repeat center;
    display: block;
    text-indent: -9999px;
    position: absolute;
    top: 13px;
    z-index: 99;
    pointer-events: none;
}
#languages {
    text-align: center;
    width: 100%;
    background: #CCDAA9;
    margin-bottom: 15px;
    float: left;
    line-height: 0;
}
#languages li {
    padding-right: 20px;
    float: right;
}
#languages li a {
    text-align: center;
    color: #000;
    padding: 10px;
    display: block;
}
#main {
    width: 100%;
    background: url(bg_main.jpg) repeat;
    float: left;
}
#main .wrap {
    padding: 0 15px;
}
/*--左--*/
#left {
    min-height: 300px;
    float:left
}
#left .register,#left .news,#left .info,#left .whatiscoscup,#left .contributor {
    margin-bottom: 20px;
    float: left;
}
#left .news .text,#left .info,#left .text {
    font-size: 15px;
    line-height: 28px;
}

#left .news {
    width: 95%;
}
#left .news .news_list .list {
    width: 100%;
    margin-bottom: 0px;
    background: #efefef;
    border-top: 1px #CCC solid;
    padding: 8px;
    border-bottom: none;
    float: left;
}
#left .news .news_list .list:last-child {
    border-bottom: 1px #CCC solid;
}
#left .news span {
    width: 95%;
    color: #999999;
    margin-bottom: 3px;
    float: left;
}
#left .news .text {
    width: 95%;
    float: left;
}
#left .news .more {
    display: none;
}
#left .info {
    width: 100%;
}
#left .whatiscoscup {
    width: 100%;
}
/*--中--*/
/*--右--*/
#sponsor {
    width: 100%;
    overflow-X: scroll;
    overflow-y: hidden;
    height: 80px;
    float:left
}
#sponsor h1,#sponsor ul,#sponsor li {
    float: left;
}
#sponsor h1 {
    display:none
}
#sponsor ul {
}
#sponsor li {
    width: 175px;
    border-top: 0px;
    text-align: center;
    padding: 12px 0;
}
#footer {
    width: 97%;
    padding: 5px;
    background: #A7C75A;
    float: left;
    color: #2D5E0A;
}
#footer ul {
    width: 100%;
    padding-top: 10px;
    margin:0 auto
}
#footer ul li {
    margin-bottom: 10px;
    font-size: 15px;
    float:left
}
#footer ul li a {
    color: #2D5E0A;
    padding: 0 10px;
    font-size: 15px;
}

#mobile-social-links {
    width: 95%;
    float: left;
    margin-left: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}
#mobile-social-links li.title {
    width: 93%;
    border: none;
    font-weight: bold;
    margin-bottom: 12px;
}
#mobile-social-links li.title hr {
    width: 75%;
    float: right;
    border: 0;
    height: 1px;
    background-color: #d4d4d4;
    color:#d4d4d4 /* IE6 */
}
#mobile-social-links li {
    width: 45%;
    border: 1px #999 solid;
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
}
#mobile-social-links li img {
    padding: 2px;
    margin-right: 3px;
}
#mobile-social-links li span {
    margin-right: 3px;
}
#mobile-social-links li a {
    padding: 5px 5px 5px 12px;
    display: block;
    font-size: 14px;
}
/* pages
--------------------------------------------------- */
#content {
    width: 100%;
    float: left;
}
#content h3 {
    font-size: 16px;
    margin-bottom: 17px;
}
#content h1.coscup {
    font-style: italic;
    color: #A7C75A;
    margin-bottom: 45px;
}
#content .article {
    font-size: 15px;
    line-height: 32px;
}
#content p {
    font-size: 15px;
    line-height: 32px;
    margin: 12px 0;
}

/* about -----*/

#content p .ab01 {
    float: left;
    margin: 0 10px 10px 0;
}
#content p img {
    width: 100%;
    max-width: 350px;
}
#content p .ab02 {
    float: right;
    margin: 0 0px 10px 10px;
}
#content .team h3 {
  clear: both;
  padding-top: 17px;
  font-weight: bold;
}
#content .team p {
  font-size: 14px;
  line-height: 22px;
}
#content .team li {
  float: left;
  width: 10em;
  font-size: 14px;
  line-height: 20px;
}

/* sponsor------ */
.sponsor {
    width: 100%;
    margin-bottom: 35px;
    float:left
}
.sponsor img {
    margin: 5px 0px 10px 0;
    float:left
}
.sponsor-info {
    width: 90%;
    background: #fff;
    padding: 10px 15px;
    border-left: 4px #CCC solid;
    float:left
}
.sponsor-info p {
    font-size: 15px;
    line-height: 28px;
}
.donor .sponsor-info li {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 15px;
    color: #666666;
}
.donor .sponsor-info div {
    clear: left;
    font-size: 15px;
    color: #666666;
}
.donor img {
    display: none;
}

/* news------ */
#content .news {
    width: 100%;
}
#content .news-list .list {
    background: #efefef;
    border-top: 1px #CCC solid;
    border-bottom: 1px #CCC solid;
    margin-bottom: 40px;
    padding: 15px;
    float: left;
}
#content .news-list span {
    width: 95%;
    color: #999999;
    margin-bottom: 3px;
    float: left;
}
#content .news-list b {
    margin-left: 10px;
    color: #606060;
    font-size: 13px;
}
#content .news-list .title {
    width: 95%;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    color: #000;
    margin: 10px 0;
    float: left;
}
#content .news-list .text {
    font-size: 15px;
    line-height: 28px;
}
/* live------ */
#content .live {
    width: 100%;
    font-size: 15px;
    line-height: 20px;
}
#content .live .list {
    background: #efefef;
    border-top: 1px #CCC solid;
    border-bottom: 1px #CCC solid;
    margin-bottom: 20px;
    padding: 15px;
}
#content .live div {
    margin: 10px 0;
}
#content .live span {
    margin-right: 10px;
    color: #666666;
    font-weight: bold;
}
#content .live span.online {
    border: 1px solid gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    background: red;
    color: white;
    margin: 2px;
    padding: 2px 5px;
}
#content .live span.online.end {
    background: #369;
}
#content .live .title {
    font-weight: bold;
    color: #000;
}
.webchat {
  display: none;
}

/* program------ */
h2.pro {
    width: 100%;
    margin-bottom: 18px;
    float:left
}
#navTab {
    width: 100%;
    background: #fff;
    float: left;
    padding: 3px;
}
#navTab ul {
    font-size: 15px;
    line-height: 25px;
    float:left
}
#navTab li {
    margin: 5px 0;
    padding: 0 6px;
    float: left;
    font-size: 13px;
}
#navTab li.active {
    background-color: #CCDAA9;
}
#navTab li.active a {
    color: white;
}
#navTab li:not(:first-child) {
    border-left: 1px #666 solid;
}
.floatTab {
    z-index: 9999;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #CCC;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.class_tag {
    display:none
}
.time {
    width: 95%;
    width: calc(100% - 15px);
    height: 32px;
    background: #666;
    color: #fff;
    padding-left: 15px;
    font-size: 16px;
    line-height: 28px;
    float: left;
}
.time_finish {
    border-bottom: 1px #d5d5d5 solid;
    height: 1px;
    width: 100%;
    float: left;
}
.article {
    width: 99%;
    width: calc(100% - 2px);
    border: 1px #d5d5d5 solid ;
    border-bottom: 0;
    border-top: 0;
    min-height: 25px;
    text-align: center;
    padding: 20px 0px 10px 0px;
    float: left;
}
.article .title {
    color: #000;
    font-size: 14px;
    font-weight: bold;
}
.program {
    position: relative;
    min-height: 80px;
    padding: 2px;
    text-align: left;
    border: 1px #d5d5d5 solid;
    background: #fff;
    line-height: 15px;
    width: 95%;
    margin: 0 auto 20px auto;
}
.program .metadata.track_tag {
    min-height: 110px;
    padding: 1px;
}
.program .metadata .head {
    height: 25px;
    line-height: 25px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.program .metadata .body {
    margin-left: 5px;
    clear: both;
}
.program .place {
    float: left;
    font-weight: bold;
    color: #666;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    background: #EEE;
}
.program .slide {
    float: right;
    margin: 0 5px;
}
.program .video {
    float: right;
    margin: 0 5px;
}
.program .community {
    float: right;
    font-size: 13px;
    color: #999;
    margin: 0 5px;
    line-height: 20px;
}
.program .topic {
    margin-bottom: 5px;
    line-height: 20px;
}
.program .topic.en:after {
    font-size: 11px;
    content: 'En';
    border: 1px solid gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    background: red;
    color: white;
    margin: 2px;
    padding: 2px 5px;
}
.program .speaker {
    color: #666;
    margin-bottom: 8px;
}
.program .speaker-title {
    color: #666;
    font-size: 12px;
}
.program .ps {
    color: #900;
}
.program .detail {
  padding: 0 5px;
}
.program .content-title {
    border-top: 1px dashed #eee;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    margin-top: 15px;
}
.program ul, ol {
    line-height: 28px;
}

#lock_background {
    display: none;
}


/**Color Tag**/
.colorTag-1 {
    border-left: #f00 5px solid;
}
.colorTag-2 {
    border-left: #73ff00 5px solid;
}
.colorTag-3 {
    border-left: #00ffff 5px solid;
}
.colorTag-4 {
    border-left: #4800a2 5px solid;
}
.colorTag-5 {
    border-left: #ff7300 5px solid;
}
.colorTag-6 {
    border-left: #339333 5px solid;
}
.colorTag-7 {
    border-left: #57a1ff 5px solid;
}
.colorTag-8 {
    border-left: #c420c4 5px solid;
}
.colorTag-9 {
    border-left: #1e1eb0 5px solid;
}
.colorTag-10 {
    border-left: #399a9a 5px solid;
}
.colorTag-11 {
    border-left: #f2f22f 5px solid;
}
.colorTag-12 {
    border-left: #f04e97 5px solid;
}
.colorTag-13 {
    border-left: #eeeeee 5px solid;
}

#nav, #nav li {
    margin: 0;
    padding: 0;
}
#nav li {
    list-style: none;
    float: left;
    margin-right: 5px;
}
/* nav link */
#nav a {
    padding: 4px 15px;
    display: block;
    color: #000;
    background: #ecebeb;
}
#nav a:hover {
    background: #f8f8f8;
}
/* nav dropdown */
#nav ul {
    background: #fff;
    padding: 2px;
    position: absolute;
    border: solid 1px #ccc;
    display: none;
    /* hide dropdown */
    width: 200px;
}
#nav ul li {
    float: none;
    margin: 0;
    padding: 0;
}
#nav li: hover > ul {
    display: block;
    /* show dropdown on hover */
}
/************************************************************************************
MOBILE NAV
*************************************************************************************/
/* nav-wrap */
#nav-wrap {
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 99999;
}
/* menu icon */
#mobile-menu-icon {
    width: 30px;
    height: 30px;
    background: url(mobile/menu-icon.png) no-repeat 10px center #CCDAA9;
    padding: 8px 8px 0 40px;
    cursor: pointer;
    display: block;
    z-index: 10001;
    position: absolute;
    font-size: 13px;
}
#mobile-menu-icon.active {
    background-color: #E7F1D8;
    border: solid 1px #999;
    border-bottom: none;
}
/* main nav */
#mainNav {
    position: absolute;
    top: 38px;
    width: 200px;
    z-index: 10000;
    padding: 5px;
    border: solid 1px #999;
    background: #E7F1D8;
    display: none;
    /* visibility will be toggled with jquery */
}
#mainNav li {
    float: none;
    margin: 14px 0 5px 10px;
}

#mainNav li a {
    color: #2D5E0A;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
}

/***Mobile Swipe Sponsor**/
#mySwipe {
    padding-top: 15px;
}
#mySwipe div span {
    display: block;
    text-align: center;
    padding: 10px 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px #EBEBEB;
    background: #fff;
    border-radius: 3px;
    line-height: 134px;
}
#mySwipe div span img {
    width: 40%;
    vertical-align: middle;
    margin: 0 10px;
}
/* Swipe 2 required styles */
.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .sponsor-info {
        width: 95%;
    }
    /* live------ */
    #content .live iframe {
      width: 560px;
      height: 420px;
    }
}
